server:
  port: 8181

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,prometheus

spring:
  application:
    name: order-service
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://${DB_URL:localhost:5432}/${DB_NAME:orderdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  liquibase:
    change-log: classpath:db/changelog/db-changelog.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  cloud:
    function:
      definition: handleOrderRequest
    stream:
      bindings:
        handleOrderRequest-in-0:
          destination: orders.command
          group: order-service
          consumer:
            batch-mode: false
            max-attempts: 3
      kafka:
        binder:
          brokers: localhost:29092
        bindings:
          orderConsumer-in-0:
            consumer:
              configuration:
                max.poll.records: 500
                fetch.min.bytes: 1048576
                fetch.max.wait.ms: 500
                max.poll.interval.ms: 300000
                enable.auto.commit: true
    openfeign:
      circuitbreaker:
        enabled: false
        alphanumeric-ids:
          enabled: false

resilience4j:
  retry:
    retry-aspect-order: 1 # Retry first after using circuitbreaker.circuit-breaker-aspect-order to open or close
    instances:
      inventoryService:
        max-attempts: 3
        wait-duration: 200ms
        retry-exceptions:
          - feign.RetryableException
          - feign.FeignException
  circuitbreaker:
    circuit-breaker-aspect-order: 2
    configs:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
    instances:
      inventoryService:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 60 # Window of 60 seconds
        failure-rate-threshold: 60 # Open circuit if 60% of calls fail
        wait-duration-in-open-state: 20s # Wait 20 seconds in OPEN state
        permitted-number-of-calls-in-half-open-state: 5 # Allow 5 calls in HALF_OPEN
        minimum-number-of-calls: 10 # Need at least 10 calls to start calculating failure rate

logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    io.github.resilience4j.retry: DEBUG