spring:
  application:
    name: booking-service
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://${DB_URL:localhost:5432}/${DB_NAME:order-service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:mypassword}
  liquibase:
    change-log: classpath:db/changelog/db-changelog.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  cloud:
    stream:
      bindings:

